

nav a{
    color: red;
}
nav > h2 {
    color: rgb(161, 199, 232);
    background-color: black;
}
header p:first-of-type{
    color: rgb(255, 0, 0);
}
a[href] {
color: rgb(255, 0, 0);
}
a:not(.active){
    text-decoration: none;
  
}
a.active{
    color: blueviolet;
}
a[target="_self"]{
background-color: rgb(185, 126, 126);}

header p:last-child::after{
content: '...';
}
ul li::marker {
    content: "🔥";
}
nav p:nth-of-type(2)::first-letter {
    color: red;        
    font-size: 30px;  }